# Задание 

### 1. Вам необходимо заполучить данные о курсе биткоина (BTC) к рублю (RUB) за последний месяц.

In [2]:
# первоначальная установка psycopg2
#pip install psycopg2

Collecting psycopg2
  Obtaining dependency information for psycopg2 from https://files.pythonhosted.org/packages/37/2c/5133dd3183a3bd82371569f0dd783e6927672de7e671b278ce248810b7f7/psycopg2-2.9.9-cp311-cp311-win_amd64.whl.metadata
  Downloading psycopg2-2.9.9-cp311-cp311-win_amd64.whl.metadata (4.5 kB)
Downloading psycopg2-2.9.9-cp311-cp311-win_amd64.whl (1.2 MB)
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   - -------------------------------------- 0.0/1.2 MB 393.8 kB/s eta 0:00:03
   --- ------------------------------------ 0.1/1.2 MB 655.4 kB/s eta 0:00:02
   ----- ---------------------------------- 0.2/1.2 MB 952.6 kB/s eta 0:00:02
   ---------- ----------------------------- 0.3/1.2 MB 1.5 MB/s eta 0:00:01
   ---------------- ----------------------- 0.5/1.2 MB 1.9 MB/s eta 0:00:01
   ---------------------- ----------------- 0.7/1.2 MB 2.2 MB/s eta 0:00:01
   --------------------------------- ------ 1.0/1.2 MB 2.9 MB/s eta 0:00:01
   ---------------------------------------- 1.2/1.2 MB 3.2 MB/s eta 0:00:00
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.9
Note: you may need to restart the kernel to use updated packages.

In [47]:
# Импорт модулей
from datetime import datetime as dt
import calendar
import requests as req
import pandas as pd
import psycopg2 as pg2
from sqlalchemy import create_engine

In [4]:
try:
    date_str = input('Введите любую дату необходимого месяца(YYYY-MM-DD): ')    
    date = dt.strptime(date_str, "%Y-%m-%d").date()
    first_month_day = date.replace(day=1)
    last_month_day = date.replace(day=calendar.monthrange(date.year, date.month)[1])
except ValueError:
    print("Ошибка ввода даты. Повторите ввод")
       
print()
print("Получаем данные по курсу валют с ", first_month_day, " по  ", last_month_day)

Введите любую дату необходимого месяца(YYYY-MM-DD): 2023-10-3

Получаем данные по курсу валют с  2023-10-01  по   2023-10-31

In [5]:
print()

# Исходные данные
access_key = '0f9490384184e1654447b78adc6589e9'
source = 'BTC'
currencies = 'RUB'

# Запрос к Web API
url = 'http://api.exchangerate.host/timeframe?access_key={}&start_date={}&end_date={}&'\
   'source={}&currencies={}'.format(access_key, first_month_day, last_month_day, source, currencies)
response = req.get(url)

print('Статус-код: {}'.format(response.status_code))
data = response.json()

Статус-код: 200

In [ ]:
df = pd.DataFrame(data['quotes'].items(), columns=['Date', 'CurrencyRate'])
print('Курсы {0}/{1} за период.'.format(source, currencies))
df.tail()

In [46]:
df['quote'] = df['CurrencyRate'].apply(lambda x: list(x.keys())[0])
# оставляем валюты for future - если захотим добавить другие валюты
df['rate'] = df['CurrencyRate'].apply(lambda x: list(x.values())[0])
df.drop('CurrencyRate', axis=1, inplace=True)

df.tail()

         Date   quote          rate
0  2023-10-01  BTCRUB  2.742061e+06
1  2023-10-02  BTCRUB  2.720706e+06
2  2023-10-03  BTCRUB  2.768905e+06
3  2023-10-04  BTCRUB  2.764754e+06
4  2023-10-05  BTCRUB  2.745249e+06
5  2023-10-06  BTCRUB  2.824935e+06
6  2023-10-07  BTCRUB  2.825497e+06
7  2023-10-08  BTCRUB  2.821399e+06
8  2023-10-09  BTCRUB  2.736832e+06
9  2023-10-10  BTCRUB  2.747588e+06

### 2. Перенос данных.

In [ ]:
try:
    # Коннектимся к базе, созданной docker
    conn = pg2.connect(dbname='quotes', 
                       user='admin', 
                       password='curr2023', 
                       host='127.0.0.1'
                      )
    cursor = conn.cursor()
 
    # Создаем таблицу
    sql = '''CREATE TABLE IF NOT EXISTS quotes_daily (
             rate_date date,
             currencies varchar,
             rate float
         )'''
 
    # выполняем код sql
    cursor.execute(sql)
    conn.commit()
    
    # Заполняем таблицу
    engine = create_engine("postgresql://admin:curr2023@localhost:5432/quotes")
    df.to_sql("quotes_daily", engine, if_exists="replace", index=False)
       
except (Exception, Error) as error:
    print("Ошибка при работе с PostgreSQL", error)
finally:
    if conn:
        cursor.close()
        conn.close()
        print("Соединение с PostgreSQL закрыто")

### 3. Анализ полученных данных.

In [90]:
dict = { 'min': 'Минимальное значение', 
         'max': 'Максимальное значение',
         'last': 'Последнее значение',
         'avg': 'Среднее значение'}
try:
    # Открываем скрипт
    fname = r"Script.sql"
    fd = open(fname, 'r')
except IOError:
    print("Ошибка открытия файла:", fname)
    
sql = fd.read()
fd.close()

#df_table = pd.read_sql_query(sql, con=engine)
df_table['grade'] =  df_table['grade'].apply(lambda x: dict[x])
df_table['rate'] =  df_table['rate'].apply(lambda x: round(x, 3))
df_table['Date'] =  df_table['Date'].apply(lambda x: ' - ' if x is None else x)

print()
print('Курсы {0}/{1} за период с {2} по {3}.'.format(source, currencies, 
                                                     first_month_day, last_month_day))
display(df_table)

Курсы BTC/RUB за период с 2023-10-01 по 2023-10-31.

                   grade        Date         rate
0   Минимальное значение  2023-10-12  2614261.928
1  Максимальное значение  2023-10-29  3254902.474
2     Последнее значение  2023-10-31  3235879.755
3       Среднее значение          -   2880860.778